.wrapper {
  height: 28px;
  border-radius: 120px;
  border: 1px solid rgba(22, 24, 35, 0.16);
  margin: 4px 4px;
  cursor: pointer;
}

.content {
  margin: 4px;
}

.value {
  color: rgba(22, 24, 35, 0.75);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-left: 6px;
}
