.wrapper {
  --border-radius: 92px;
  --spinner-space: 9px;
  --search-height: 46px;
  --search-btn-width: 52px;

  position: fixed;
  box-shadow: 0px 1px 1px rgb(0 0 0/12%);
  height: var(--default-layout-header-height, 60px);
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--white);
}

.inner {
  height: 100%;
  padding: 0 var(--default-layout-horizontal-space);
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.search-result,
.search {
  width: 361px;
}

.search {
  position: relative;
  height: 46px;
  display: flex;
  padding-left: 16px;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--border-radius);
  border: 1.5px solid transparent;

  input {
    flex: 1;
    font-weight: 400;
    line-height: 22px;
    height: 100%;
    padding: 0;
    color: var(--black, #000);
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    caret-color: rgba(254, 44, 85, 1);
    appearance: textfield;
    border: 1.5px solid transparent;
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }

  &::after {
    content: '';
    position: absolute;
    top: var(--spinner-space);
    right: var(--search-btn-width);
    width: 1px;
    height: calc(var(--search-height) - var(--spinner-space) * 2);
  }

  &:focus-within {
    border: 1.5px solid rgba(22, 24, 35, 0.2);
  }
}

.search-title {
  color: rgba(22, 24, 35, 0.5);
  height: 30px;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.search-result {
}

.clear-btn,
.spinner {
  position: absolute;
  right: calc(var(--search-btn-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
}

.search-btn {
  width: var(--search-btn-width);
  height: 100%;
  color: rgba(22, 24, 35, 0.34);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  font-size: 18px;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
  }

  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}

//Action

.more-btn {
  font-size: 2rem;
  margin-left: 24px;
  background-color: transparent;
  padding: 0px 8px;
  cursor: pointer;
}

.action {
  display: flex;
  align-items: center;
}

.action-btn {
  background-color: var(--white);
  font-size: 2.6rem;
  line-height: 2.1rem;
  position: relative;
  margin-left: 16px;
  padding: 4px;

  .countMessage {
    position: absolute;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color: var(--white);
    background-color: rgb(223, 47, 47);
    border-radius: 1200px;
    padding: 0px 4px;
    left: 20px;
    bottom: 20px;
  }
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 16px;
  cursor: pointer;
}
